.container-editar {
    padding: 30px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.3);
    background-color: #1e1e1e;
    border: 1px solid #f1c40f;
    border-radius: 6px;
    max-width: 500px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    color: #f0f0f0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #f0f0f0;
}

.input-editar {
    width: 100%;
    padding: 10px;
    background-color: #2e2e2e;
    border: 1px solid #f1c40f;
    border-radius: 5px;
    color: white;
}

.btn-editar {
    width: 100%;
    background-color: yellow;
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-editar:hover {
        background-color: #d4b800;
    }
